@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root{
	--green: rgb(11, 128, 67);
	--black: rgb(0, 0, 0);
	--white:  rgb(255, 255, 255);
	--padding:  10px 15px;
}

* {
  margin: 0;
  padding: 0;
}


html{
	height: 100vh;
	background-size: cover;
	background-position: center;
  	background-attachment: fixed;
  	overflow-y: scroll;
}

body,html{
	width: 100vw;
	overflow-x: hidden;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	max-width: 600px;
}

*{
	font-family: 'Poppins', sans-serif;
	color: var(--black);
	font-weight: 400;
	box-sizing: border-box;
	position: relative;
	outline: none;
	margin: 0;
	padding: 0;
	font-size: 15px;
	text-decoration: none;
}

.header{
	background-color: var(--green);
	width: 100vw;
	padding: var(--padding);
	color: var(--white);
	font-weight: 700;
}

.content{
	display: flex;
	flex-direction: column;
	width: 100%;
}

.navbar{
	width: 100%;
	display: flex;
	align-items: center;
	background-color: var(--black);
	padding: var(--padding);
}

.showNavbar{
	width: 50%;
	min-width: 230px;
	height: 100%;
	position: fixed;
	left: -70%;
	opacity: 0;
	transition: 0.5s;
	z-index: 1;
	background-color: var(--black);
}

.show{
	left: 0%;
	opacity: 1;
}

.tab{
	width: 100%;
	min-height: 40px;
	display: flex;
	align-items: center;
	color: var(--white);
	padding: var(--padding);
}

.nav-icon{
	width: 20px;
	z-index: 2;
	position: absolute;
	filter: invert(100%);
}

.close{
	width: 15px;
}

.hide{
	visibility: hidden;
}

.nav-pnhs{
	width: 20px;
	margin-left: 35px;
}

.message{
	padding: var(--padding);
	width: 100%;
	margin-top: 25px;
	font-weight: 700;
	font-size: 1.5em;
}

.welcome{
	margin-top: 0px;
	font-weight: 400;
	font-size: 1em;
}

.options{
	width: 100%;
	margin-top: 25px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.option{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 125px;
	border-radius: 10px;
	flex-shrink: 0;
	margin: var(--padding);
	padding: 10px;
	background-color: whitesmoke;
	border: 1px solid rgba(0, 0, 0, 0.1);
	transition: 0.3s;
}

.option:hover{
	box-shadow: 0px 0px 20px 1px rgba(0, 0, 255, .2);
}

.option img{
	width: 100%;
}

.option span{
	margin-top: 10px;
}

@media only screen and (max-width: 600px){

}

@media only screen and (max-width: 300px){
	.header{
		white-space: nowrap;
	    overflow: hidden;
    	text-overflow: ellipsis;
	}

	.options{
		flex-direction: column;
	}

	.option{
		margin: 5px;
	}

	.message{
		padding: 0 15px;
	}
}